*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
.main{
    background-color: white;
    display: flex;
    width: 40rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main > h1{
    font-weight: bold;
    font-size: 3rem;
}
.main> h4{
    font-size: 1.2rem;
}
.main>input{
    font-size: 1rem;
    width: 20rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}
.main>button{
    padding: 0.6rem 1rem;
    font-weight: bold;
    background-color: #007bff;
    border-radius: 0.5rem;
    border: none;
    color: white;
}
.main>h3{
    font-size: 1.5rem;
}

.main>button:hover{
    cursor: pointer;
}